@using Teamworks.Web.Views
@{
    Layout = "../Shared/_Root.cshtml";
}

@RenderBody()

@section navigation {
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>      
    @Html.Identity()
    <div class="nav-collapse">
        <ul class="nav">
            <li class="@Html.ActiveController("Home")"><a href="@Url.RouteUrl("default", new {controller = "Home", action = "Index"})"><i class="icon-home icon-white"></i>Home</a></li>
            <li class="@Html.ActiveController("VetoProjects")"><a href="@Url.RouteUrl("default", new {controller = "Projects", action = "Index"})">Projects</a></li>
            <li class="@Html.ActiveController("Timelogs")"><a href="@Url.RouteUrl("default", new {controller = "Timelogs", action = "View"})">Timelogs</a></li>
        </ul>
    </div>
   
}