@using Teamworks.Web.Helpers.Extensions
@model Teamworks.Web.ViewModels.Mvc.RegisterTimelogsViewModel

@{
    ViewBag.Title = "Timelogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Timelogs <small>On this page you can register where you spent or time and see your past entries for all projects and activities.</small></h1>    
</div>
@if (Model.Options.Count == 0)
{
    <p class="tc well">To register time you need to have a project. You can start in the <a href="@Url.RouteUrl("projects_get")">projects</a> page.</p>
}
else
{
    <div class="row">
        <div class="span12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" data-bind="foreach: tabs">
                    <li data-bind="css: {active: $parent.selected() === $data }">
                        <a href="#" data-bind="click: $parent._select, text: description">Today</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <form class="form-horizontal" data-bind="submit: timelogs._create">
                        <p> The registration will be made for day <strong class="highlight" data-bind="text: timelogs.input.date.formatted, highlight: 'alert alert-info'"></strong>. 
                            <a class="hide" data-bind="datepicker: timelogs.input.date.formatted, css: { hide: selected().calendar === false }" data-date-autoclose="true" data-date-format="dd/MM/yyyy" data-date-enddate="@DateTime.Today.ToString("dd/MM/yyyy")"><i class="icon-calendar"></i></a>
                        </p>
                        <div class="control-group" >
                            <input id="project_name" autofocus="autofocus" class="span4" name="project_name" placeholder="Project name, Activity name" autocomplete="off" data-bind="typeahead: typeahead" />
                            <span class="hide" data-bind="text: typeahead.validation_message, css:{ hide: !typeahead.has_error() }"></span>
                        </div>
                        <div class="control-group">
                            <input name="project_description" placeholder="Description" class="span4" data-bind="value: timelogs.input.description, valueUpdate: 'afterkeyup'" />
                            <span class="hide" data-bind="text: timelogs.input.description.validation_message, css:{hide:!timelogs.input.description.has_error}"></span>
                        </div>
                        <div class="control-group">
                            <input name="project_duration" placeholder="ie: 5 hours, 2h 30 minutes, 120m" class="span4" data-bind="value: timelogs.input.duration.duration" />
                            <span class="hide" data-bind="text: timelogs.input.duration.validation_message, css:{hide:!timelogs.input.duration.has_error}"></span>
                        </div>
                        <div>
                            <button class="btn btn-large btn-success" data-bind="disable: timelogs.input.editing,
                             css: { 'btn-success': !timelogs.input.has_error(), 'btn-danger': timelogs.input.has_error()}"
                                    type="submit">Register</button>
                            <div class="progress progress-success progress-striped active input-small hide" data-bind="css: { hide: !timelogs.input.editing() }">
                                <div class="bar" style="width: 100%;"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="span12">
            <header class="lead">
                <h2>Your time <small>The time used on your daily activities</small></h2>
            </header>
            <p class="tc well hide" data-bind="css: { 'hide': timelogs().length }">
                You have no logged hours.
            </p>
            
            <div class="well well-mini btn-toolbar">
                <div class="btn-group input-append input-prepend input-append">
                    <span disabled="disabled" class="btn add-on"><strong>Project</strong></span>
                    <input type="text" class="btn uneditable-input" disabled="disabled" data-bind="value: filter.project().name"></input>
                    <a class="btn dropdown-toggle add-on" data-toggle="dropdown">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" data-bind="template: { name: 'dropdown-project-template', foreach: filter.distinctProjects }">
                    </ul>
                </div>

                <div class="btn-group input-prepend input-append">
                    <span disabled="disabled" class="btn add-on"><strong>Activity</strong></span>
                    <input type="text" class="btn uneditable-input" disabled="disabled" data-bind="value: filter.activity().name"></input>
                    <a class="btn dropdown-toggle add-on " data-toggle="dropdown" data-bind="attr:{disabled: filter.project().id == -1}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" data-bind="template: { name: 'dropdown-activity-template', foreach: filter.distinctActivities }">
                    </ul>
                </div>

                <div class="btn-group input-append">
                    <input type="text" placeholder="From" class="btn uneditable-input input-medium" disabled="disabled" data-bind="value: filter.dateFrom.formatted"></input>
                    <a id="datepickFrom" class="add-on btn" data-bind="attr:{ 'data-date-enddate': filter.dateTo.formatted }, datepicker: filter.dateFrom.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy">
                        <i class="icon-calendar"></i>
                    </a>
                </div>

                <div class="btn-group input-append">
                    <input type="text"  placeholder="To"  class="btn uneditable-input input-medium" disabled="disabled" data-bind="value: filter.dateTo.formatted"></input>
                    <a id="datepickTo" class="add-on btn datepicker-right" data-bind="datepicker: filter.dateTo.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy" data-date-enddate="@DateTime.Today.ToString("dd/MM/yyyy")">
                        <i class="icon-calendar"></i>
                    </a>
                </div>

                <div class="btn-group input-append">
                    <button class="btn" data-bind="click: filter.reset">Clear</button>
                </div>
                    
            </div>
            <table class="table table-striped table-bordered table-condensed hide" data-bind="css: { 'hide': !timelogs().length }">
                <thead>
                    <tr>
                        <th>Project, Activity</th>
                        <th><a data-bind="click: function(){ sort('duration'); }">
                                Duration <i data-bind="css: { 'icon-sort': sort.Property() != 'duration',
                                 'icon-sort-up':sort.Property() == 'duration' && sort.Asc(),
                                 'icon-sort-down':sort.Property() == 'duration' && !sort.Asc()}"></i> 
                            </a></th>
                        <th><a data-bind="click: function(){ sort('description'); }">
                                Description <i data-bind="css: { 'icon-sort': sort.Property() != 'description',
                                 'icon-sort-up':sort.Property() == 'description' && sort.Asc(),
                                 'icon-sort-down':sort.Property() == 'description' && !sort.Asc()}"></i>  
                            </a></th>
                        <th><a data-bind="click: function(){ sort('date'); }">
                                Date <i data-bind="css: { 'icon-sort': sort.Property() != 'date',
                                 'icon-sort-up':sort.Property() == 'date' && sort.Asc(),
                                 'icon-sort-down':sort.Property() == 'date' && !sort.Asc()}"></i> 
                            </a></th>
                        <th class="input-small">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <!--ko template: { name: 'timelog-template', foreach: sortedTimelog() } -->
                    <!--/ko -->
                    <tr>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td>
                            <strong><span data-bind="text: timelogs.total"></span></strong>
                        </td>
                        <td colspan="4">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal fade hide" id="editTimelogModal" tabindex="-1" role="dialog">
                <form class="form-horizontal"  data-bind="submit: timelogs.editing._update">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>Edit Timelog</h3>
                    </div>
                    <div class="modal-body"  data-bind="if: timelogs.editing">
                        <div class="control-group">
                            <label class="control-label">Project, Activity</label>
                            <div class="controls">
                                <input class="btn" type="text" name="name" disabled="disabled" placeholder="Project, Activity" data-bind="value: (timelogs.editing().project.name() + ', ' + timelogs.editing().activity.name())"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Duration</label>
                            <div class="controls">
                                <input name="duration" placeholder="Duration" data-bind="value: timelogs.editing().duration"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <input name="description" placeholder="Description" data-bind="value: timelogs.editing().description"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date</label>
                            <div class="controls ">
                                <div class="btn-group input-append">
                                    <input type="text" class="btn uneditable-input" disabled="disabled" placeholder="Date" data-bind="value: timelogs.editing().date.formatted"/>
                                    <a class="add-on btn datepicker-right" data-bind="datepicker: timelogs.editing().date.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy" data-date-enddate="@DateTime.Today.ToString("dd/MM/yyyy")">
                                        <i class="icon-calendar"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"  data-bind="if: timelogs.editing">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: discardChanges">Close</button>
                    </div>
                </form>
            </div>
            <script type="text/html" id="dropdown-activity-template">
                <li data-bind="css:{ hide: $parent.filter.project().id == -1 || $parent.filter.project().id != project }">
                    <a data-bind="text: name, click: function(){ $parent.filter.activity($data); }"></a>
                </li>
            </script>
            <script type="text/html" id="dropdown-project-template">
                <li><a data-bind="text: name, click: function(){ $parent.filter.project($data); }"></a></li>
            </script>
            <script type="text/html" id="timelog-template">
                <tr data-bind="css:{ hide: $parent.filter($data) }">
                    <td>
                        <strong><a data-bind="attr:{ href: '/projects/' + project.id() }, text: project.name"></a></strong>,
                        <span><a data-bind="attr:{ href: '/projects/' + project.id() + '/activities/' + activity.id() }, text: activity.name"></a></span>
                    </td>
                    <td>
                        <span data-bind="text: duration"></span>
                    </td>
                    <td>
                        <span data-bind="text: description"></span>
                    </td>
                    <td><span data-bind="text: date.formatted"></span>
                    </td>
                    <td class="input-small">
                        <a href="#editTimelogModal" role="button" data-toggle="modal" data-bind="click: function() { $parent.timelogs.editing($data);}">
                            <i class="icon-edit"></i> 
                        </a> 
                        &nbsp;
                        <a data-bind="click: function() { _remove(); }">
                            <i class="icon-trash"></i> 
                        </a>
                    </td>
                </tr>
            </script>
     
        </div>
    </div>

    <script>
        var viewmodel = function() {
            return new tw.pages.RegisterTimelogsViewModel(@Html.ToJson(Model.Options), @Html.ToJson(Model.Timelogs));
        };
    </script>
}