@using Teamworks.Web.Controllers
@using Teamworks.Web.Helpers.Extensions
@model Teamworks.Web.ViewModels.Mvc.ActivityViewModelComplete


@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span8">
        @Html.Breadcrumb(ViewBag.Breadcrumb as AppController.Breadcrumb[])
        <header class="page-header">
            <h1>
                <span>@Model.Name</span>
                <small data-bind="text: description">
                    @Model.Description
                </small>
                <a href="#editActivityModal" role="button" data-toggle="modal"><i class="icon-edit"></i></a>
            </h1>
        </header>

        <div>
            <header class="lead">Status</header>
            <div class="row">
                <div class="span2">
                    <strong>Start:</strong> <span data-bind="text: startDate.formatted"></span>
                </div>
                <div class="span2">
                    <strong>Duration:</strong> <span data-bind="text: duration.duration"></span>
                </div>
                <div class="span3"><strong>Total logged time:</strong> <span data-bind="text: totalTimeLogged.duration"></span> <span data-bind="text: '(' + completionPercent() +'%)'"></span></div>
            </div>
        </div>
        <br />
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-discussions">Discussions<span data-bind="visible: discussions().length > 0, text: ' (' + discussions().length + ')'"></span></a></li>
                <li><a data-toggle="tab" href="#tab-todos">Todos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-discussions">
                    <h2>Discussions 
                        <small>
                            <a class="btn-mini" href="#addDiscussionModal" role="button" data-toggle="modal">
                                Add a new discussion
                            </a>
                        </small>
                    </h2>
                    <br/>
                    <p class="tc well well-small hide" data-bind="css: { 'hide': discussions().length > 0 }">
                        Create your first discussion clicking <a href="#addDiscussionModal" role="button" data-toggle="modal">here</a>.
                    </p>
                    <!-- ko template: { name: 'discussion-template', foreach: discussions } -->
                    <!-- /ko -->
                </div>
                <div class="tab-pane" id="tab-todos">
                    <h2>Todo list
                        <small>
                            <a class="btn-mini" href="#addTodoModal" role="button" data-toggle="modal">
                                Add a new todo
                            </a>
                        </small>
                    </h2>
                    <br/>
                    <p class="tc well well-small hide" data-bind="css: { 'hide': todos().length > 0 }">
                        Add an item by clicking <a href="#addTodoModal" role="button" data-toggle="modal">here</a>.
                    </p>
                    <ul class="unstyled well hide" data-bind="css: { 'hide': todos().length == 0 }, template: { name:'todo-template', foreach: todos }"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <h2>People</h2>
        <div class="people">
            <ul class="thumbnails" data-bind="template: { name: 'person-template', foreach: people.assigned }"></ul>
            <a href="#" class="more-options" data-bind="visible: !people.editing(), click: function() { people.editing(true); }" >More members</a>
            <div class="hide" data-bind="css: { hide: !people.editing() }">
                <form class="form-horizontal" data-bind="submit: people._add">
                    <input autocomplete="off" placeholder="Who do you wanto to add" autofocus="autofocus"
                           data-items="4" class="span2" data-bind="value: people.input, valueUpdate: 'afterkeyup', typeahead: people.typeahead" />
                    <a class="btn-mini" data-bind="click: function() { people.editing(false) }"><i class="icon-remove"></i></a> 
                </form>
            </div>
        </div>
        <br />
        <h2>Related Activities
            <a class="hide" data-bind="css: { hide:  editing_dependencies() }, click: function() { editing_dependencies(true); }"><i class="icon-edit"></i> 
            </a>
            <a class="hide" data-bind="css: { hide: !editing_dependencies() }, click: function() { editing_dependencies(false); _update(); }"><i class="icon-save"></i> 
            </a> 
            &nbsp;
            <a class="hide" data-bind="css: { hide: !editing_dependencies() }, click: function() { discardChanges(); editing_dependencies(false); }"><i class="icon-remove"></i> 
            </a>
        </h2>
        <p class="hide" data-bind="css: { hide: !dependencies().length == 0 }">No dependencies.</p>
        <ul class="unstyled well" data-bind="css: { well: editing_dependencies() }, template: { name:'depedency-template', foreach: dependencies }"></ul>
    </div>
</div>
<script type="text/html" id="todo-template">
    <li>
        <input class="clear pull-right" type="checkbox"
               data-bind="attr: {id: 'chk'+id, name:'chk'+id}, checked: completed, click: $parent.todos.todoToggle">
        <strong data-bind="text: name"></strong>, <small data-bind="text: description"></small>
    </li>
</script>
<script type="text/html" id="discussion-template">
    <div>
        <button class="close" data-bind="click: _remove"><i class="icon-trash"></i></button>
        <h3>
            <a data-bind="text: name, attr: { href: (tw.utils.location + '/discussions/' + id()) }"></a>
        </h3>
        <p data-bind="text: content, visible: content().length"></p>
    </div>
</script>
<script type="text/html" id="person-template">
    <li class="dropdown">
        <a class="thumbnail dropdown-toggle" data-toggle="dropdown" rel="tooltip-top" data-bind="attr: { href: '#', 'title': name }">
            <img data-bind="attr: { src: gravatar }" />
        </a>               
        <div class="dropdown-menu well-small">
            <img class="pull-left" data-bind="attr: { alt: name, src: gravatar }" />
            <div>
                <h3 class="lead">
                    <a data-bind="text: name, attr: { href: '@Url.RouteUrl("profiles_get")' + id() }" href="#"></a>
                </h3>
                <div data-bind="text: username"></div>
            </div>
            <a class="btn pull-right pull-down clear" href="#" data-bind="click: _remove">Remove</a>
        </div>
    </li>
</script>
<script type="text/html" id="depedency-template">
    <li class="hide" data-bind="{ css: { hide: (!($parent.editing_dependencies()) && !dependency()) } }" >
        <input class="clear pull-right" type="checkbox"
               data-bind="enable: ($parent.editing_dependencies()), attr: {id: 'chk'+id(), name:'chk'+id()}, checked: dependency, click: function(e){ $parent.dependenciesChanged(true); return true; } " >
        <strong data-bind="text: name"></strong>, <small data-bind="text: description"></small>
        <span>(Start: <small data-bind="text: startDate.formatted"></small>, Duration: <small data-bind="text: duration.duration"></small>)</span>
    </li>
</script>  
<script>
    var viewmodel = function() {
        return tw.pages.ActivityViewModel(@Html.ToJson(Model));
    }
</script>

<section>
    <h1>Results</h1>
    <pre>
    @ViewsExtensions.ToIndentedJson(Html, ViewBag.Results)
</pre>
</section>

<div class="modal fade hide" id="editActivityModal" tabindex="-1" role="dialog">
    <form class="form-horizontal"  data-bind="submit: _update">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Edit Activity</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="activity_name">Name</label>
                <div class="controls">
                    <input id="activity_name" name="activity_name" autofocus="autofocus" placeholder="Activity name" data-bind="value: name, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_description">Description</label>
                <div class="controls">
                    <input id="activity_description" name="activity_description" placeholder="Activity Description" data-bind="value: description, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_duration">Duration</label>
                <div class="controls">
                    <input id="activity_duration" name="activity_duration" placeholder="Activity Duration" data-bind="value: duration.duration" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_startDate">Start Date</label>
                <div class="controls">
                    <div class="btn-group input-append">
                        <input id="activity_startDate" type="text" class="btn uneditable-input" disabled="disabled" placeholder="Date" data-bind="value: startDate.formatted"/>
                        <a class="add-on btn datepicker-right" data-bind="datepicker: startDate.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy" data-date-enddate="@DateTime.Today.ToString("dd/MM/yyyy")">
                            <i class="icon-calendar"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bind="disable: updating, css:{hide: updating}">Save</button>
            <button class="btn pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: discardChanges">Close</button>
            <div class="btn-sized slim pull-right progress progress-striped active input-small hide" data-bind="css: { hide: !updating() }">
                <div class="bar pull-right" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade hide" id="addDiscussionModal" tabindex="-1" role="dialog">
    <form class="form-horizontal"  data-bind="submit: discussions._create" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: discussions.input.reset">×</button>
            <h3>Add Discussion</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="discussion_name">Name</label>
                <div class="controls">
                    <input id="discussion_name" name="discussion_name" autofocus="autofocus" placeholder="Discussion title" data-bind="value: discussions.input.name, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="discussion_description">Description</label>
                <div class="controls">
                    <textarea  id="discussion_description" name="discussion_description" placeholder="Message" data-bind="value: discussions.input.content, valueUpdate: 'afterkeyup'"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bind="disable: discussions.input.updating, css:{hide: discussions.input.updating}">Save</button>
            <button class="btn pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: discussions.input.reset">Close</button>
            <div class="btn-sized slim pull-right progress progress-striped active input-small hide" data-bind="css: { hide: !discussions.input.updating() }">
                <div class="bar pull-right" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade hide" id="addTodoModal" tabindex="-1" role="dialog">
    <form class="form-horizontal"  data-bind="submit: todos._create" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: todos.input.reset">×</button>
            <h3>Add Todo</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="todo_name">Name</label>
                <div class="controls">
                    <input id="todo_name" name="todo_name" autofocus="autofocus" placeholder="Name" data-bind="value: todos.input.name, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="todo_description">Description</label>
                <div class="controls">
                    <textarea  id="todo_description" name="todo_description" placeholder="Description" data-bind="value: todos.input.description, valueUpdate: 'afterkeyup'"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bind="disable: todos.input.updating, css:{hide: todos.input.updating}">Save</button>
            <button class="btn pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: todos.input.reset">Close</button>
            <div class="btn-sized slim pull-right progress progress-striped active input-small hide" data-bind="css: { hide: !todos.input.updating() }">
                <div class="bar pull-right" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </form>
</div>