@using Teamworks.Web.Helpers.Extensions.Mvc
@model Teamworks.Web.ViewModels.Mvc.ActivityViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul class="breadcrumb span12">
        <li>
            <a href="@Url.RouteUrl("default", new {controller = "Projects", action = "View", id = UrlParameter.Optional})">Projects</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a data-bind="text: projectReference.name, href: '@Url.RouteUrl("default", new {controller = "Projects", action = "Details", id = UrlParameter.Optional})' + projectReference.id() ">@Model.ProjectReference.Name</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a data-bind="href: '@Url.RouteUrl("activities", new {controller = "Activities", action = "View", projectId = Model.ProjectReference.Id, activityId = UrlParameter.Optional})'">Activities</a>
            <span class="divider">/</span>
        </li>
        <li>
            <span data-bind="text: name">@Model.Name</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="span12">
        <header class="page-header">
            <h1>
                <span data-bind="text: name">@Model.Name</span>
                <small>
                    <span data-bind="text: description, visible: description">
                        @Model.Description
                    </span>
                    <i class="icon-edit"></i> 
                </small>
            </h1>
        </header>
    </div>
</div>


<script>
    var viewmodel = function() {
        return tw.pages.ActivityViewModel('/api/projects/@Model.ProjectReference.Id/activities', @Html.ToJson(Model));
    }
</script>

<section>
    <h1>Results</h1>
    <pre>
@ViewsExtensions.ToIndentedJson(Html, ViewBag.Results)
</pre>
</section>