@using Teamworks.Web.Controllers
@using Teamworks.Web.Helpers.Extensions
@model Teamworks.Web.ViewModels.Mvc.ProjectViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span8">
        @Html.Breadcrumb(ViewBag.Breadcrumb as AppController.Breadcrumb[])
        <header class="page-header">
            <h1>
                <span data-bind="text: name">@Model.Name</span>
                <small>
                    <span data-bind="text: description, visible: description">
                        @Model.Description
                    </span>
                </small>
                <a href="#editProjectModal" role="button" data-toggle="modal">
                    <i class="icon-edit"></i>
                </a>
            </h1>
        </header>
        <section>
            <div class="lead">
                <h2>Activities 
                    <small>
                        <a class="btn-mini" href="#addActivityModal" role="button" data-toggle="modal">
                            Add a new activity
                        </a>
                    </small>
                </h2>
            </div>
            <p class="tc well well-small hide" data-bind="css: { 'hide': activities().length > 0 }">
                Create your first activity clicking <a href="#addActivityModal" role="button" data-toggle="modal">here</a>.
            </p>
            <!-- ko template: { name: 'activities-template', foreach: activities } -->
            <!-- /ko -->
            
        </section>
        <section>
            <ul class="nav nav-tabs" id="tabs">
                <li><a data-toggle="tab" href="#tab-discussions">Discussions<span data-bind="visible: discussions().length > 0, text: ' (' + discussions().length + ')'"></span></a></li>
                <li><a data-toggle="tab" href="#tab-timelogs">Timelogs <span data-bind="visible: timelogs.timelogs().length > 0, text: ' (' + timelogs.timelogs().length + ')'"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab-discussions">
                    <div class="lead">
                        <h2>Discussion
                            <small>
                                <a class="btn-mini" href="#addDiscussionModal" role="button" data-toggle="modal">Add a new discussion</a></small>
                        </h2>
                    </div>
                    <p class="tc well well-small hide" data-bind="css: { 'hide': discussions().length > 0 }">
                        Create your first discussion clicking <a href="#addDiscussionModal" role="button" data-toggle="modal">here</a>.
                    </p>
                    <!-- ko template: { name: 'discussion-template', foreach: discussions } -->
                    <!-- /ko -->
                </div>
                <div class="tab-pane" id="tab-timelogs">
                    
                    <div>
                        <header class="lead">
                            <h2><small>The time logged for this project's activities</small></h2>
                        </header>
                        <p class="tc well hide" data-bind="css: { 'hide': timelogs.timelogs().length }">
                            This project has no time logged.
                        </p>
            
                        <div class="well well-mini btn-toolbar">
                            <div class="btn-group input-append input-prepend input-append">
                                <span disabled="disabled" class="btn add-on"><strong>Person</strong></span>
                                <input type="text" class="btn uneditable-input" disabled="disabled" data-bind="value: timelogs.filter.person().name"></input>
                                <a class="btn dropdown-toggle add-on" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" data-bind="template: { name: 'dropdown-person-template', foreach: timelogs.filter.distinctPeople }">
                                </ul>
                            </div>

                            <div class="btn-group input-prepend input-append">
                                <span disabled="disabled" class="btn add-on"><strong>Activity</strong></span>
                                <input type="text" class="btn uneditable-input" disabled="disabled" data-bind="value: timelogs.filter.activity().name"></input>
                                <a class="btn dropdown-toggle add-on" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" data-bind="template: { name: 'dropdown-activity-template', foreach: timelogs.filter.distinctActivities }">
                                </ul>
                            </div>

                            <div class="btn-group input-append">
                                <input type="text" placeholder="From" class="btn uneditable-input" disabled="disabled" data-bind="value: timelogs.filter.dateFrom.formatted"></input>
                                <a id="datepickFrom" class="add-on btn" data-bind="attr:{ 'data-date-enddate': timelogs.filter.dateTo.formatted }, datepicker: timelogs.filter.dateFrom.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy">
                                    <i class="icon-calendar"></i>
                                </a>
                            </div>

                            <div class="btn-group input-append">
                                <input type="text"  placeholder="To"  class="btn uneditable-input" disabled="disabled" data-bind="value: timelogs.filter.dateTo.formatted"></input>
                                <a id="datepickTo" class="add-on btn datepicker-right" data-bind="datepicker: timelogs.filter.dateTo.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy" data-date-enddate="@DateTime.Today.ToString("dd/MM/yyyy")">
                                    <i class="icon-calendar"></i>
                                </a>
                            </div>

                            <div class="btn-group input-append">
                                <button class="btn" data-bind="click: timelogs.filter.clear">Clear</button>
                            </div>
                    
                        </div>
                        <table class="table table-striped table-bordered table-condensed hide" data-bind="css: { 'hide': !timelogs.timelogs().length }">
                            <thead>
                                <tr>
                                    <th><a data-bind="click: function(){ timelogs.sort('activity'); }">
                                            Activity <i data-bind="css: { 'icon-sort': timelogs.sort.Property() != 'activity',
                                 'icon-sort-up':timelogs.sort.Property() == 'activity' && timelogs.sort.Asc(),
                                 'icon-sort-down':timelogs.sort.Property() == 'activity' && !timelogs.sort.Asc()}"></i> 
                                        </a></th>
                                    <th><a data-bind="click: function(){ timelogs.sort('duration'); }">
                                            Duration <i data-bind="css: { 'icon-sort': timelogs.sort.Property() != 'duration',
                                 'icon-sort-up':timelogs.sort.Property() == 'duration' && timelogs.sort.Asc(),
                                 'icon-sort-down':timelogs.sort.Property() == 'duration' && !timelogs.sort.Asc()}"></i> 
                                        </a></th>
                                    <th><a data-bind="click: function(){ timelogs.sort('description'); }">
                                            Description <i data-bind="css: { 'icon-sort': timelogs.sort.Property() != 'description',
                                 'icon-sort-up':timelogs.sort.Property() == 'description' && timelogs.sort.Asc(),
                                 'icon-sort-down':timelogs.sort.Property() == 'description' && !timelogs.sort.Asc()}"></i>  
                                        </a></th>
                                    <th><a data-bind="click: function(){ timelogs.sort('date'); }">
                                            Date <i data-bind="css: { 'icon-sort': timelogs.sort.Property() != 'date',
                                 'icon-sort-up':timelogs.sort.Property() == 'date' && timelogs.sort.Asc(),
                                 'icon-sort-down':timelogs.sort.Property() == 'date' && !timelogs.sort.Asc()}"></i> 
                                        </a></th>
                                    <th><a data-bind="click: function(){ timelogs.sort('person'); }">
                                            Person <i data-bind="css: { 'icon-sort': timelogs.sort.Property() != 'person',
                                 'icon-sort-up':timelogs.sort.Property() == 'person' && timelogs.sort.Asc(),
                                 'icon-sort-down':timelogs.sort.Property() == 'person' && !timelogs.sort.Asc()}"></i> 
                                        </a></th>
                                    <th class="input-small">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--ko template: { name: 'timelog-template', foreach: timelogs.sortedTimelog() } -->
                                <!--/ko -->
                                <tr>
                                    <td>
                                        <strong>Total</strong>
                                    </td>
                                    <td>
                                        <strong><span data-bind="text: timelogs.timelogs.total"></span></strong>
                                    </td>
                                    <td colspan="4">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal fade hide" id="editTimelogModal" tabindex="-1" role="dialog">
                            <form class="form-horizontal"  data-bind="submit: timelogs.timelogs.editing._update">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>Edit Timelog</h3>
                                </div>
                                <div class="modal-body"  data-bind="if: timelogs.timelogs.editing">
                                    <div class="control-group">
                                        <label class="control-label">Activity</label>
                                        <div class="controls">
                                            <input class="btn" type="text" name="name" disabled="disabled" placeholder="Activity" data-bind="value: timelogs.timelogs.editing().activity.name()"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Duration</label>
                                        <div class="controls">
                                            <input name="duration" placeholder="Duration" data-bind="value: timelogs.timelogs.editing().duration.duration"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Description</label>
                                        <div class="controls">
                                            <input name="description" placeholder="Description" data-bind="value: timelogs.timelogs.editing().description"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Date</label>
                                        <div class="controls ">
                                            <div class="btn-group input-append">
                                                <input type="text" class="btn uneditable-input" disabled="disabled" placeholder="Date" data-bind="value: timelogs.timelogs.editing().date.formatted"/>
                                                <a class="add-on btn datepicker-right" data-bind="datepicker: timelogs.timelogs.editing().date.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy" data-date-enddate="@DateTime.Today.ToString("dd/MM/yyyy")">
                                                    <i class="icon-calendar"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"  data-bind="if: timelogs.timelogs.editing">
                                    <button class="btn btn-primary">Save</button>
                                    <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: timelogs.discardChanges">Close</button>
                                </div>
                            </form>
                        </div>
                        <script type="text/html" id="dropdown-activity-template">
                            <li>
                                <a data-bind="text: name, click: function(){ $parent.timelogs.filter.activity($data); }"></a>
                            </li>
                        </script>
                        <script type="text/html" id="dropdown-person-template">
                            <li>
                                <a data-bind="text: name, click: function(){ $parent.timelogs.filter.person($data); }"></a>
                            </li>
                        </script>
                        <script type="text/html" id="timelog-template">
                            <tr data-bind="css:{ hide: $parent.timelogs.filter($data) }">
                                <td>
                                    <span><a data-bind="attr:{ href: '/projects/' + project.id() + '/activities/' + activity.id() }, text: activity.name"></a></span>
                                </td>
                                <td>
                                    <span data-bind="text: duration.duration"></span>
                                </td>
                                <td>
                                    <span data-bind="text: description"></span>
                                </td>
                                <td>
                                    <span data-bind="text: date.formatted"></span>
                                </td>
                                <td>
                                    <span><a data-bind="attr:{ href: '/profiles/' + person.id() }, text: person.name"></a></span>
                                </td>
                                <td class="input-small">
                                    <a href="#editTimelogModal" role="button" data-toggle="modal" data-bind="click: function() { $parent.timelogs.timelogs.editing($data);}">
                                        <i class="icon-edit"></i> 
                                    </a> 
                                    &nbsp;
                                    <a data-bind="click: function() { _remove(); }">
                                        <i class="icon-trash"></i> 
                                    </a>
                                </td>
                            </tr>
                        </script>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <div class="span4">
        <h2>People</h2>
        <div class="people">
            <ul class="thumbnails" data-bind="template: { name: 'person-template', foreach: people }"></ul>
            <a href="#" class="more-options" data-bind="visible: !people.editing(), click: function() { people.editing(true); }" >More members</a>
            <div class="hide" data-bind="css: { hide: !people.editing() }">
                <form class="form-horizontal" data-bind="submit: people._add">
                    <input autocomplete="off" placeholder="Who do you wanto to add" 
                           data-items="4" class="span2" data-bind="value: people.input, valueUpdate: 'afterkeyup', typeahead: people.typeahead" />
                    <a class="btn-mini" data-bind="click: function() { people.editing(false) }"><i class="icon-remove"></i></a> 
                </form>
            </div>
        </div>
        <br/>
        <h2>Actions</h2>
    </div>
</div>

<div class="modal fade hide" id="editProjectModal" tabindex="-1" role="dialog">
    <form class="form-horizontal"  data-bind="submit: _update">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: _discardChanges">×</button>
            <h3>Edit Project</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input id="inputName" name="name" placeholder="Name" autofocus="autofocus" data-bind="value: name, valueUpdate: 'afterkeyup'"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Description</label>
                <div class="controls">
                    <input id="inputDescription" name="description" placeholder="Description" data-bind="value: description, valueUpdate: 'afterkeyup'"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Save</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: _discardChanges">Close</button>
        </div>
    </form>
</div>

<div class="modal fade hide" id="addActivityModal" tabindex="-1" role="dialog">
    <form class="form-horizontal" data-bind="submit: activities._create" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: activities.input.reset">×</button>
            <h3>Add Activity</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="activity_name">Name</label>
                <div class="controls">
                    <input id="activity_name" name="activity_name" autofocus="autofocus" placeholder="Activity name" data-bind="value: activities.input.name, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_description">Description</label>
                <div class="controls">
                    <input id="activity_description" name="activity_description" placeholder="Activity Description" data-bind="value: activities.input.description, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_duration">Duration</label>
                <div class="controls">
                    <input id="activity_duration" name="activity_duration" placeholder="Activity Duration" data-bind="value: activities.input.duration, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_startDate">Start Date</label>
                <div class="controls">
                    <div class="btn-group input-append">
                        <input id="activity_startDate" type="text" class="btn uneditable-input" disabled="disabled" placeholder="Date" data-bind="value: activities.input.startDate.formatted"/>
                        <a class="add-on btn datepicker-right" data-bind="datepicker: activities.input.startDate.formatted" data-date-autoclose="true" data-date-format="dd/MM/yyyy" data-date-enddate="@DateTime.Today.ToString("dd/MM/yyyy")">
                            <i class="icon-calendar"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" >Save</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: activities.input.reset">Close</button>
        </div>
    </form>
</div>

<div class="modal fade hide" id="addDiscussionModal" tabindex="-1" role="dialog">
    <form class="form-horizontal"  data-bind="submit: discussions._create" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: discussions.input.reset">×</button>
            <h3>Add Discussion</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="activity_name">Name</label>
                <div class="controls">
                    <input id="discussion_name" name="discussion_name" autofocus="autofocus" placeholder="Discussion title" data-bind="value: discussions.input.name, valueUpdate: 'afterkeyup'" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="activity_description">Description</label>
                <div class="controls">
                    <textarea  id="discussion_description" name="discussion_description" placeholder="Message" data-bind="value: discussions.input.content, valueUpdate: 'afterkeyup'"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Save</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: discussions.input.reset">Close</button>
        </div>
    </form>
</div>
<script type="text/html" id="activities-template">
    <div>
        <button class="close" data-bind="click: _remove"><i class="icon-trash"></i></button>
        <h3>
            <a data-bind="attr: { href: '@Url.RouteUrl("activities_details", new {projectId = Model.Id, activityId = UrlParameter.Optional})' + id() }">
                <span data-bind="text: name"></span>
                <small data-bind="text: description"></small>
            </a>
        </h3>
    </div>
</script>
<script type="text/html" id="discussion-template">
    <div>
        <button class="close" data-bind="click: _remove"><i class="icon-trash"></i></button>
        <h3>
            <a data-bind="text: name, attr: { href: '@Url.RouteUrl("discussions_details", new {projectId = Model.Id, discussionId = UrlParameter.Optional})' + id() }"></a>
        </h3>
        <p data-bind="text: content, visible: content().length"></p>
    </div>
</script>
<script type="text/html" id="person-template">
    <li class="dropdown">
        <a class="thumbnail dropdown-toggle" data-toggle="dropdown" rel="tooltip-top" data-bind="attr: { href: '#', 'title': name }">
            <img data-bind="attr: { src: gravatar }" />
        </a>               
        <div class="dropdown-menu well-small">
            <img class="pull-left" data-bind="attr: { alt: name, src: gravatar }" />
            <div>
                <h3 class="lead">
                    <a data-bind="text: name, attr: { href: '@Url.RouteUrl("profiles_get")' + id() }" href="#"></a>
                </h3>
                <div data-bind="text: username"></div>
            </div>
            <a class="btn pull-right pull-down clear" href="#" data-bind="click: _remove">Remove</a>
        </div>
    </li>
</script>
<script>
    var viewmodel = function() {
        return tw.pages.ProjectViewModel(@Html.ToJson(Model));
    };
</script>