@using Teamworks.Web.Controllers
@using Teamworks.Web.Helpers.Extensions
@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span9">
        @Html.Breadcrumb(ViewBag.Breadcrumb as AppController.Breadcrumb[])
        <header class="page-header">
            <h1>
                <span>@Model.Name</span>
                <small>
                    <span>
                        @Model.Description
                    </span>
                </small>
            </h1>
        </header>
    </div>
</div>
<div id="chart">
</div>
<script>
    var viewmodel = function() {
        return tw.pages.GanttViewmodel();
    };

    var gantt = function() {
        return new tw.Gantt(@Html.Raw(ViewBag.ChartData));
    };

</script>

<div hidden="true" id="gantt_tooltip">
    <div id="tooltip_title"><span data-bind="text: name"></span></div>
    <div id="tooltip_body">
        <div><strong>Description:</strong><span data-bind="text: description"></span></div>
        <div><strong>StartDate:</strong><span data-bind="text: startDate.formatted"></span></div>
        <div><strong>Duration:</strong><span data-bind="text: duration"></span></div>
        <div><strong>Used:</strong><span data-bind="text: timeUsed"></span></div>
    </div>
</div>

<section>
    <pre>@Html.Raw(ViewBag.ChartData)</pre>
</section>