@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span9">
        <div>
            <ul class="breadcrumb">
                <li><a href="@Url.RouteUrl("default", new {controller = "Projects"})">Projects</a> <span
                                                                                                       class="divider">/</span> </li>
                <li><span>@Model.Name</span> </li>
            </ul>
        </div>
        <header class="lead">
            <h1>
                <span>@Model.Name</span> <small><i class="icon-edit">
                                                </i><span>@Model.Description</span></small>
            </h1>
        </header>
    </div>
</div>
<div id="chart">
</div>
<script>
    var viewmodel = function() {
        return tw.pages.GanttViewmodel();
    };

    var gantt = function() {
        return new tw.Gantt(@Html.Raw(ViewBag.ChartData));
    };

</script>

<section>
    <div id="gantt_tooltip" class="gantt_tooltip">
        <div><strong>Name:</strong><span data-bind="text: name"></span></div>
        <div><strong>Description:</strong><span data-bind="text: description"></span></div>
        <div><strong>StartDate:</strong><span data-bind="text: startDate"></span></div>
        <div><strong>Duration:</strong><span data-bind="text: duration"></span></div>
        <div><strong>Used:</strong><span data-bind="text: timeUsed"></span></div>
    </div>
</section>

<section>
    <pre>@Html.Raw(ViewBag.ChartData)</pre>
</section>