@using Teamworks.Web.Helpers.Mvc
@model Teamworks.Web.ViewModels.Mvc.PersonViewModel

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var me = ViewBag.Me ?? false;
}


<header class="page-header">
     @if (me) {<a class="btn btn-mini pull-right" href="#">Edit your profile</a>}
    <h1><span data-bind="text: name">@Model.Name</span>
        @if(me) { <small>This is you</small> } 
    </h1>
   
</header>
<div class="row">
    <div class="span3">
        <div>
            <img data-bind="attr: { src: gravatar }" alt="Profile image"/>
        </div>
    </div>
    <div class="span5">
        <h2>Bio</h2>
        <div class="span">
            <h3>Name</h3> 
            <div data-bind="text: username">@Model.Username</div>
            <h3>Email</h3> 
            <div data-bind="text: email">@Model.Email</div>
        </div>
    </div>
</div>

<script>
    var viewmodel = function () {
        return tw.pages.Profile('/api/people', @Html.ToJson(@Model));
    }

</script>