@using Teamworks.Web.Helpers.Extensions
@model Teamworks.Web.ViewModels.Mvc.ProfileViewModel

@{
    ViewBag.Title = @Model.Person.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="page-header">
    <h1>
        @if (@Model.IsMyProfile)
        {
            <a href="#editProfileModal" role="button" data-toggle="modal"><i style="width: auto" class="icon-edit"></i></a>
        }
        <span data-bind="text: name" >@Model.Person.Name</span>
        <small>This is you</small>
    </h1>
</header>
<div class="row">
    <div class="span3">
        <div>
            <img data-bind="attr: { src: gravatar }" alt="Profile image"/>
        </div>
        <br />
    </div>
    <div class="span5">
        <h2>Bio</h2>
        <div class="span" data-bind="css: { 'hide': editing() }">
            <h3>Name</h3> 
            <div class="raw"data-bind="text: username">@Model.Person.Username</div>
            <h3>Email</h3> 
            <div class="raw" data-bind="text: email">@Model.Person.Email</div>
            <br />
            @if (Model.IsMyProfile)
            {
                <a href="#changePasswordModal" role="button" data-toggle="modal">Change password</a>
            }
        </div>
    </div>
</div>
@if (Model.IsMyProfile)
{
    <div id="changePasswordModal" role="button" class="modal hide fade" data-toggle="modal" tabindex="-1">
        <form class="form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Change password</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input id="inputPassword" type="password" name="password" placeholder="Password" autofocus="autofocus"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputNewPassword">New password</label>
                    <div class="controls">
                        <input id="inputNewPassword" type="password" name="newPassword" placeholder="New assword"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputConfirmPassword">Confirm password</label>
                    <div class="controls">
                        <input id="inputConfirmPassword" type="password" name="confirmPassword" placeholder="Confirm password"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
    <div id="editProfileModal" role="dialog" class="modal hide fade">
        <form style="margin: 0" class="form-horizontal" action="@Url.Action("Edit","Profiles")" method="POST">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Edit Profile</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="inputName" name="name" placeholder="Name" data-bind="value: name" autofocus="autofocus"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input id="inputUsername" name="username" placeholder="Username" data-bind="value: username"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input id="inputEmail" name="email" placeholder="Email" data-bind="value: email"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>
}
<script>
    var viewmodel = function() {
        return tw.pages.ProfileViewModel(@Html.ToJson(Model.Person));
    }
</script>