@using Teamworks.Web.Controllers
@using Teamworks.Web.Helpers.Extensions
@using Teamworks.Web.ViewModels.Mvc
@model DiscussionViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span8">
        <div class="discussions">
            @Html.Breadcrumb(ViewBag.Breadcrumb as AppController.Breadcrumb[])
            <header class="page-header">
                <h1 data-bind="text: name"></h1>
                <p data-bind="text: content"></p>
            </header>
            <div data-bind="template: { name: 'message-template', foreach: messages }">
            </div>
            <form class="form-horizontal" data-bind="submit: messages._create">
                <div class="control-group">
                    <textarea class="span8" data-bind="value: messages.input, valueUpdate: 'afterkeyup'"></textarea>
                </div>
                <div class="control-group">
                    <button type="submit" class="btn btn-success">Reply</button>                 
                </div>
            </form>
        </div>
    </div>
    <div class="span4">
        <h2>Participants</h2>
        <div class="people">
            @if (Model.People.Count == 0)
            {
                <div>No participants.</div>
            }
            else
            {
                <ul class="thumbnails">
                    @foreach (var person in Model.People)
                    {
                    <li class="dropdown">
                        <a class="thumbnail dropdown-toggle" data-toggle="dropdown" rel="tooltip-top" href="#" title="@person.Name">
                            <img src="@person.Gravatar" />
                        </a>               
                        <div class="dropdown-menu well-small">
                            <img class="pull-left" alt="@person.Name" src="@person.Gravatar"/>
                            <div>
                                <h3 class="lead">
                                    <a href="@Url.RouteUrl("profiles_get", new {id = person.Id})">@person.Name</a>
                                </h3>
                                <div>@person.Username</div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            }
            
        </div>

    </div>
</div>

<script type="text/html" id="message-template">
    <div class="row">
        <div class="span8 message">
            <h3>
                <a data-bind="attr: { href: '@Url.RouteUrl("profiles_get")' + id() }">
                    <span data-bind="text: person.name"></span>
                    <small data-bind="text: '@@' + person.username()"></small>
                </a>
            </h3>
            <div>
                <p data-bind="text: content"></p>
            </div>
            <div class="pull-left"><p data-bind="text: date.formatted, attr: { title: date }, timeago: ''"></p></div>
            <div class="pull-right" data-bind="visible: editable">
                <a href='#'><i class="icon-edit"></i></a>
                <a href='#' data-bind="click: _remove"><i class="icon-trash"></i></a>
            </div>
        </div>
    </div>
</script>
    
<script>
    var viewmodel = function() {
        return tw.pages.DiscussionViewModel(@Html.ToJson(Model));
    };
</script>