@using Teamworks.Web.Helpers.Extensions
@using Teamworks.Web.Helpers.Teamworks
@model Teamworks.Web.Models.ThreadModel

@{
    ViewBag.Title = "Discussion";
    Layout = "../Shared/_Layout.cshtml";
}
<div id="discussion">
    <header class="span12 row">
        <h3>
            @Model.Name
        </h3>
        <p>@Model.Text</p>
        <small><a href="/@Model.Person.Id">@Model.Person.Name</a> @@ @Model.Date </small>
    </header>
    <article class="row span12">
        <ul>
            <div class="thumbnails" data-bind="template: { name: 'message-template', foreach: message_list }">
            </div>
        </ul>
    </article>

    <div id="message-form">
        <div class="well">
            <form class="form-inline " data-bind="submit: create">
            <h3>
                Your Message</h3>
            <input class="input-xxlarge" name="description" placeholder="Your message" data-bind="value: message.text, valueUpdate: 'afterkeyup'" />
            <button class="btn" type="submit">
                Add</button>
            </form>
        </div>
    </div>
    <script type="text/html" id="message-template">
        <li>
            <section class="span10 row">
                <div class="well">
                    <form class="form-inline" data-bind="submit: $parent.remove">
                        <button class="close pull-right" type="submit" name="remove">&times;</button>
                    </form>
                    <h5><div data-bind="text: text"></div></h5>
                    <div><h6><a data-bind="text: person().name, attr: { href: '/'+person().id }"></a> @@ <span data-bind="text: dateFormatted" /></h6></div>
                    </div>                
        </section>
            </li>
    </script>
    <script type="text/javascript">
        var data = @Html.Raw(Model.ToJson());
    </script>
</div>
